<header th:fragment="headerFragment" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner"></div>
    </div>
    <!-- Spinner End -->


    <!-- Topbar Start -->
    <div class="container-fluid bg-dark px-5 d-none d-lg-block">
        <div class="row gx-0">
            <div class="col-lg-8 text-center text-lg-start mb-2 mb-lg-0">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <small class="me-3 text-light"><i class="fa fa-map-marker-alt me-2"></i>Số 02 đường Võ Oanh, phường Thạnh Mỹ Tây, TP.HCM</small>
                    <small class="me-3 text-light"><i class="fa fa-phone-alt me-2"></i>0912345678</small>
                    <small class="text-light"><i class="fa fa-envelope-open me-2"></i>info@gmail.com</small>
                </div>
            </div>
            <div class="col-lg-4 text-center text-lg-end">
                <div class="d-inline-flex align-items-center" style="height: 45px;">
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                            class="fab fa-twitter fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                            class="fab fa-facebook-f fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                            class="fab fa-linkedin-in fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle me-2" href=""><i
                            class="fab fa-instagram fw-normal"></i></a>
                    <a class="btn btn-sm btn-outline-light btn-sm-square rounded-circle" href=""><i
                            class="fab fa-youtube fw-normal"></i></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->


    <!-- Navbar & Carousel Start -->
    <div class="container-fluid position-relative p-0">
        <nav class="navbar navbar-expand-lg navbar-dark px-5 py-3 py-lg-0">
            <a href="/index" class="navbar-brand p-0">
                <h1 class="m-0"><i class="fa fa-user-tie me-2"></i>Fertility</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                <span class="fa fa-bars"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <div class="navbar-nav ms-auto py-0">
                    <a href="/index" class="nav-item nav-link" th:classappend="${activePage == 'index'} ? 'active'">Trang chủ</a>
                    <a href="/about" class="nav-item nav-link" th:classappend="${activePage == 'about'} ? 'active'" >Giới thiệu</a>
                    <a href="/services" class="nav-item nav-link" th:classappend="${activePage == 'services'} ? 'active'">Dịch vụ</a>
                    <a href="/blog" class="nav-item nav-link" th:classappend="${activePage == 'blog'} ? 'active'">Tin tức</a>
                    <a href="/contact" class="nav-item nav-link" th:classappend="${activePage == 'contact'} ? 'active'">Liên hệ</a>
                    <!-- Đã đăng nhập -->
                    <div class="nav-item dropdown" sec:authorize="isAuthenticated()" style="min-width: 150px;">
                        <a href="#" class="nav-link dropdown-toggle d-flex align-items-center" data-bs-toggle="dropdown">
                            <i class="fa fa-user me-2"></i>
                            <span th:text="${userDTO.fullName}">Tên người dùng</span>
                        </a>
                        <div class="dropdown-menu m-0">
                            <a href="/profile" class="dropdown-item">Thông tin cá nhân</a>
                            <a href="/treatmentschedulecustomer" class="dropdown-item" sec:authorize="hasRole('CUSTOMER')">Lịch điều trị</a>
                            <a href="/workscheduledoctor" class="dropdown-item" sec:authorize="hasRole('DOCTOR')">Lịch làm</a>
                            <a href="/customer/auth/changepassword" class="dropdown-item">Đổi mật khẩu</a>
                            <form th:action="@{/logout}" method="post">
                                <button type="submit"  class="dropdown-item">Đăng xuất</button>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- Chưa đăng nhập -->
                <!-- <a href="login" class="btn btn-primary py-2 px-4 ms-3">Đăng nhập</a>
                <a href="register" class="btn btn-primary py-2 px-4 ms-3">Đăng ký</a> -->
                <div sec:authorize="isAnonymous()">
                    <a href="login" class="btn btn-primary py-2 px-4 ms-3">Đăng nhập</a>
                    <a href="register" class="btn btn-primary py-2 px-4 ms-3">Đăng ký</a>
                </div>



            </div>
        </nav>
    </div>


</header>